@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="http://www.finnandroo.com/wp-content/uploads/2013/01/finnyweb.png" />
</div>

<div class="row">
    <div class="col-md-12">
        <h2>much animal. so inventory</h2>
        <p>
            hallo.  welcome to pet shop.  i am corg.  prepare urself for bootiful doggies.
        </p>
        <p><a class="btn btn-default" href="PetShop2/Views/Animals/Index">view doge &raquo;</a></p>
        </div>
    </div>
